* {
	box-sizing: border-box;
	font-family: Palatino;
	color: darkslategray;
}

body {
	margin:0;
}

header {
	display: grid;
	position: fixed;
	grid-template-columns: 15% 70% 15%;
	width: 100vw;
	height: 225px;
	margin:10px 0;
	top:0;
	left:0;
	align-items: center;
	transition: 1s;
	background-color: rgba(255,255,255,1);
	z-index: 5;
	box-shadow: 0px 3px 10px 0px gray;
}

header.small {
	height: 125px;
	transition: 1s;
	grid-template-columns: 15% 35% 40% 10%;
	background-color: rgba(255,255,255,.95);
}

main {
	padding-bottom: 250px;
}

.page-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
}

footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 250px;
}

#externallinks {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 15px;
	width: 100px;
	height: 40px;
	margin: 40px;
	z-index: 10;
	align-items: center;
	grid-column: 1;
}

#externallinks.small {
	/*
	grid-template-columns: 100%;
	grid-template-rows: repeat(3,1fr);
	margin: 5px 20px;
	height: 100%;
	grid-gap: 0px;
	*/
}

#externallinks svg {
	display: none;
	fill: slategray;
}


.headerlinkcontainer {
	display: none;
	position: absolute;
	width: 50%;
	height: 25px;
	margin: 15px;
	justify-self: center;
	text-align: center;
	align-self: end;
	z-index: 1;
	opacity: 1;
	transition: ease-out 1.5s ;
	grid-row: 2;
	grid-column: 1 / span 4;
	white-space: nowrap;
}

.headerlinkcontainer.small {
	width: 5%;
	transform: translate(45vw,-35px);
	opacity: 0;
	transition: 1s;
	white-space: unset;

}

.headerlink {
	display: inline;
	height: 25px;
	padding: 0 20px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}

.headerlink a {
	text-decoration: none;
}

.headerlink a:hover {
	color: crimson;
	cursor: pointer;
}

.colorbar {
	position: fixed;
	top:0;
	height:13px;
	width: 100vw;
	background-color: #393939;
	z-index: 10;
}

#slogan {
	display: none;
	grid-column: ;
	grid-row: 1;
}

#slogan.small {
	display: inline-flex;
	font-size: 22px;
	text-align: center;
	align-items: center;
	justify-self: center;
	grid-column: 3;

}

#partone, #parttwo {
	display: flex;
	position: absolute;
	width: 125px;
	height: 200px;
	margin-left: 110px;
	font-weight: bold;
	text-align: center;
	justify-content: center;
	justify-self: center;
	align-items:center;
	opacity: 1;
	transition: 2s;
	font-family: Arial;
}

#imperialwire {
	display: flex;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: 1s;
	grid-column: 2;
	grid-row: 1;
	font-size: 100px;
	font-style: italic;
	font-weight: 500;
	letter-spacing: .06em;
	align-items: center;
	justify-content: center;
	opacity: 1;
	transition: 2s;
	white-space: nowrap;
}

	
#imperialwire.small {
	transition: 1s;
	font-size: 48px;
}

 /*
 	width: 0;

 	opacity: 0;

animation: type 2s steps(60, end) forwards;


@keyframes type {
  0% {
    opacity: 1;
  }
  100% {
    width: 30em;
    opacity: 1;
  }
}
*/


#menuicon {
	display: flex;
	z-index: 5;
	opacity: 1;
	transition: 1s;
	grid-row: 1;
	grid-column: 3;
	align-items: center;
	justify-self: center;
}

#menuicon.small {
	opacity: 1;
	transition: 1s;
	grid-column: 4;
}

#menucontainer {
	display: none;
	position: fixed;
	top:150px;
	right:60px;
	width: 120px;
	height:175px;
	z-index: 30;
}

#menucontainer.small {
	top:100px;
	right: 35px;
}

#menuoption1,#menuoption2,#menuoption3,#menuoption4 {
	display: block;
	height: 30px;
	font-weight: bold;
	text-align: right;
	padding:5px 0;
	text-decoration: none;
	color: gray;
	opacity: 0;
	transition: .5s;
	z-index: 4;
}

#menuoption1:hover,#menuoption2:hover,#menuoption3:hover,#menuoption4:hover {
	color: black;
}

#solutionsdropdown {
	display: none;
	position: fixed;
	top:120px;
	right:110px;
	width: 100px;
	height:30px;
	z-index: 5;
}

#solutionsdropdownitem1,#solutionsdropdownitem2,#solutionsdropdownitem3  {
	position: absolute;
	width: 100%;
	height: 30px;
	text-align: right;
	opacity: 0;
	transition: .5s;
	z-index: 6;
}

#hamburgermenu {
	fill: gray;
}

#hamburgermenu:hover {
	fill: crimson;
}

path {
	z-index: -1;
}

circle:hover {
	display: flex;
}

.title {
	position: absolute;
	top:150px;
	width:100%;
	height:60px;
	color:black;
	font-size: 40px;
	font-style: italic;
	font-weight: 500;
	text-align: center;
	margin:0 auto;
}

.placeholder1 {
	left:0px;
	width: 100vw;
	height: 400px;
	z-index: -2;
	margin:125px 0 50px 0px;
	background: transparent;
}

.section1 {
	display: grid;
	width: 100%;
	height: 350px;
	margin: 80px 30px;
	grid-template-columns: 45% 50%;
}

.section1left {
	display: inline-flex;
	height: 100%;
	transition: 1s;
	grid-column: 1;
}

.section1left img {
	width: auto;
	height: auto;
	max-height: 350px;
	margin: 0 auto;
}


.section1right {
	display: grid;
	grid-template-rows: 30% 70%;
	height: 100%;
	grid-column: 2;
}

.section1rightheader {
	text-align: center;
	align-self: end;
	font-size: 22px;
	font-weight: bold;
	grid-row: 1;
}

.section1rightbody {
	margin:30px;
	text-align: center;
	font-size: 18px;
	grid-row: 2;
}

.section2 {
	display: grid;
	grid-template-rows:25% 75%;
	width: 80vw;
	height: 225px;
	margin: 125px auto;
	justify-content: center;
	box-shadow: 0px 6px 10px 0 rgba(0,0,0,0.2);

}

.section2header {
	width: 70vw;	
	font-weight: bold;
	font-size: 38px;
	grid-row: 1;
	color: #0A406C;
	align-self: end;

}

.section2body {
	width: 70vw;	
	padding: 40px;
	font-size: 20px;
	grid-row: 2;

}








