:root {
	--color-0: rgb(220,237,237);
	--color-1: #64757F;
	--color-2: #485B64;
	--color-3: #314049;
	--color-4: #1D2E38;
	--color-5: #10242F;
	--acc-color: crimson;
	--bg-color: var(--color-3);
	--main-txt-color: var(--color-0);
	--alt-txt-color: var(--color-4);
	--main-shadow: var(--color-3);
	--alt-shadow: var(--color-1);
}

* {
	box-sizing: border-box;
	font-family: Palatino;
	color: var(--main-txt-color);
}

main {
	position: relative;
	padding-top:115px;
}

header {
	position: fixed;
	transition: 1s;
	left:0;
	z-index: 5;
	height: 225px;
}

header.small {
	height: 100px;
	transition: 1s;
	background-color: rgba(255,255,255,.95);
}

body {
	display: flex;
	background-color: var(--bg-color);
	margin:0;
}

p {
	margin: 0;
	padding: 0;
}

footer {
	position: absolute;
	left:0;
}

#home {
	padding-top:180px;	
}

.page-container {
	min-height: 100vh;
	max-width: 1900px;
	margin:0 auto;
}

path {
	z-index: -1;
}

circle:hover {
	display: flex;
}

#requestquote {
	display: grid;
	grid-template-columns: 80% 20%;
	position: fixed;
	top: 270px;
	left: 0px;
	width: 400px;
	height: 50px;
	background-color: white;
	border: 1px solid var(--acc-color);
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	opacity: .8;
	transition: 2s;
	text-align: center;
	font-size: 26px;
	z-index: 5;
}

#requestquote.small {
  display:grid;
	grid-template-columns: 20% 80%;
	width: 110px;
	opacity: .6;
	transition: 2s;
}

#tellmore {
	grid-column: 1;
	opacity: 1;
	transition: 1s;
	white-space: nowrap;
	margin: 0;
	align-self: center;
	transition: 1s;
}

#tellmore.small {
	font-size: 14px;
	opacity: 0;
	transition: 1s;
}

#quotearrows {
	grid-column: 2;
	margin: 0;
	align-self: center;
}

.section1 {
	display: grid;
	width: 100%;
	height: 500px;
	grid-template-columns: repeat(2, 1fr);
}

.section1 img {
	grid-column: 1;
	position: absolute;
	width: auto;
	height: 500px;
}

.section1::after {
 	display: block;
 	grid-column: 1 / span 2;
 	position: relative;
 	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgb(240,222,216)s 60%);
 	height: 500px;
 	width: 100%;
 	content: '';
	box-shadow: 0px 0px 15px 0px var(--main-shadow);
}

.section1body {
	grid-column: 2;
	width: 50%;
}

.sectionheader {
	grid-row: 1;
	font-size: 2.5em;
	padding: 30px 0;
	text-align: center;
	align-self: center;
	z-index: 1;
	text-shadow: 0 1px 2px var(--main-shadow)
}

.line {
	display: inline-block;
	width: 40px;
	height: 2px;
	margin:10px;
	background-color: var(--main-txt-color);
	align-self: center;
}

.sectionbreak {
	display: flex;
	width: 100%;
	height: 100px;
	font-size: 4.5em;
	align-items: center;
	justify-content: center;
	letter-spacing: 6px;
}

.sectionbreakquote {
	display: flex;
	width: 100%;
	height: 250px;
	padding: 0 10%;
	font-size: 1.75em;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.section15 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	background-color: var(--color-5);
	width: 80%;
	height: 400px;
	margin:90px auto 130px auto;
	box-shadow: 0px 4px 20px 0px #10242F;
	justify-items: center;
}

.section15item {
	width: 100%;
	height: 100%;
}

.section15itemname {
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	width: 40%;
	margin-top: 70px;
	font-size: 3em;
	color: var(--main-txt-color);
	pointer-events: none;
}

.section15item img {
	position: absolute;
	width: 40%;
	height: 200px;
	opacity: .5;
}

.section15item img:hover {
	opacity: 1;
	box-shadow: -5px 5px 15px 0px var(--alt-shadow), 5px -5px 15px 0px var(--alt-shadow);
	cursor: pointer;
}

.section2 {
	display: grid;
	background-color: var(--color-1);
	width: 95%;
	height: 350px;
	grid-template-rows: 20% 80%;
	grid-template-columns: 45% 55%;
	margin: 190px auto;
}

.section2photo {
	grid-column: 1;
	grid-row: 1 /span 2;
	align-self: center;
}

.section2photo img {
	width: 95%;
	height: auto;
	margin: 0 5%;
	box-shadow: 5px 7px 10px 0px var(--color-4);
}

.section2body {
	grid-column: 2;
	grid-row: 2;
	width: 95%;
	font-size: 1.25em;
	text-align: center;
	justify-self: center;
	margin-left:5%;
}

.section2body p {
	width: 95%;
	padding: 10px 0;
	line-height: 35px;
}

.section3left, .section3right {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 20% 80%;
	width: 80%;
}

.section3left {
	grid-column: 1;
	height: 400px;
	margin-top: 130px;
}

.section3right {
	grid-column: 2;
	height: 450px;
	margin-top: 50px;
	margin-left: 20%;
}

.section3rightheader, .section3leftheader  {
	position: absolute;
	grid-row: 1;
	font-size: 4em;
	width: 80vw;
	height: 35px;
	text-align: center;
	background-color: var(--color-1);
	box-shadow: -8px -8px 15px 0px var(--color-4);
	text-shadow: 0px 0px 10px var(--color-5);
}

.section3leftheader {
	grid-row: 1;
	grid-column: 1;
}

.section3rightheader {
	grid-column: 2;
	right:0;
}

.section3leftbody, .section3rightbody {
	display: grid;
	height: 95%;
	width: 100%;
	grid-row: 2;
	font-size: 1.5em;
}

.section3leftbody {
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: repeat(5,20%);
}

.section3rightbody {
	grid-template-columns: 100%;
	grid-template-rows: repeat(6,1fr);
}

.section3rightbody div,.section3leftbody div {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .4s;

}

.section3rightbody div:hover,.section3leftbody div:hover {
	background-color: var(--color-1);
	transition: .4s;
	cursor: pointer;
	color: var(--alt-txt-color);
}

.section4 {
	display: grid;
	width: 100%;
	height: 800px;
	margin-top: 50px;
	grid-template-rows: 50% 50%;
	grid-template-columns: repeat(3,1fr);
	box-shadow: 0px 4px 20px 0px #10242F;
	background-color: var(--color-5);
}

.section4 img {
	position: absolute;
	width: 33.33%;
	height: 400px;
	opacity: .85;
	transition: 1s;
}

.section4 img:hover {
	opacity: .5;
	cursor: pointer;
	transition: 1s;
}

.materialname {
	display: flex;
	position: relative;
	width: 100%;
	height: 80px;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
	font-size: 3em;
	font-weight: bold;
	bottom: 0;				
	color: var(--alt-txt-color);
	background-color: var(--color-0);
	opacity: 0;
	pointer-events: none;
	transition: .5s;
}

.section5 {
	display: grid;
	width: 100%;
	height: 550px;
	margin-top: 50px;
	padding: 20px 0;
	grid-template-rows: 20% 80%;
	grid-template-columns: 100%;
	box-shadow: 0px 0px 15px 0px var(--main-shadow);
}

.section5body {
	width: 100%;
	height: 100%;
	grid-row: 2;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
}

.section5bodytop {
	display: grid;
	grid-row: 1;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	justify-items: center;
	margin-top: -50px;
}

.section5bodybottom {
	display: grid;
	grid-row: 2;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	margin-top: -50px;
	padding:0 12%;
}

.section5bodytop img, .section5bodybottom img {
	width: 200px;
	height: auto;
	max-height: 100%;
	opacity: .8;
	transition: .5s;
}


#scrolldiv {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: var(--color-5);
	z-index:4;
	transition: 2s;
	overflow: hidden;
}

#scrolldiv.scroll {
	height: 0vw;
	transition: 2s;
}

.scrolldivbody {
	display: flex;
	width: 90vw;
	height: 300px;
	margin: 30vw auto 0 auto;
	font-size: 2.5em;
	text-align: center;
}

.scrolldivarrows {
	display: flex;
	position: sticky;
	bottom: 0;
	justify-content: center;
	height: 100px;
}

.scrolldivarrows img {
	animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }


