header {
	height: 120px;
	transition: 1s;
	grid-template-columns: 40% 45%;
	grid-template-rows: 75% 25%;
	background-color: rgba(255,255,255,.95);
	z-index: 10;
}

.headerlinkcontainer {
	grid-row: 2;
	grid-column: 1 / span 3;
	margin: 0;
	transition: 0s;
}

#slogan {
	display: inline-flex;
	grid-row: 1;
	font-size: 22px;
	text-align: center;
	align-items: center;
	justify-self: center;
	grid-column: 2;
}

#imperial {
	transition: 1s;
	transform: translate(-420px,-60px);
	font-size: 56px;
	padding-top:20px;
}

.imperialwire {
	height: 200px;
	transition: 0s;
}

.title {
	display: block;
	position: relative;
	width: 100%;
	height: 150px;
}

.title img {
	position: absolute;
	width: 100%;
	height: 150px;
	z-index: -1;
	left:0px;
	filter: brightness(30%);
	opacity: .7;
}

.titletext {
	width: auto;
	height: 110px;
	font-size: 56px;
	font-weight: bold;
	color: white;
	text-shadow: 1px 3px 3px black;
	padding:45px;
	box-shadow: 0px 5px 5px -5px maroon;
}


.materials {
	display: grid;
	position: relative;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 25px;
	margin:0 auto;
	width: 100%;
	height: 150px;
	justify-self: center;
}

.material1,.material2,.material3,.material4 {
	display: flex;
	align-self: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	align-items: center;
	border-radius: 15px;

}

.material1:hover,.material2:hover,.material3:hover,.material4:hover {
	cursor: pointer;
	box-shadow: 0px -5px 10px -4px slategray;

}

.material1:active,.material2:active,.material3:active,.material4:active {
	box-shadow: 0px -5px 10px -4px maroon;

}

.material1 {
	grid-column: 1;
}

.material2 {
	grid-column: 2;
}

.material3 {
	grid-column: 3;
}

.material4 {
	grid-column: 4;
}

.materialname {
	display: none;
	text-align: center;
	font-size: 28px;
	font-weight: 500;
	color: maroon;
	padding: 0 5px;
	position:absolute;
	bottom: -50px;
	/*box-shadow: 0px 5px 5px -5px maroon;*/
}

.display {
	position: relative;
	width:100%;
	height: 550px;
	margin:60px auto 0 auto;
	z-index: -1;
	overflow: hidden;
}

.materialnodisplay {
	z-index: -2;
	font-size: 42px;
	font-weight: bold;
	text-align: center;
	margin:80px;
	padding:10px 0;
	opacity: .8;
	border-bottom: 1px solid maroon;
	border-top: 1px solid maroon;

}

.material1display,.material2display,.material3display,.material4display {
	display: none;
	box-shadow: 0px 2px 100px 0px lightslategray;
}

.materialdisplayheader {
	position: absolute;
	width: 100%;
	height: 125px;
	top:0;
	font-size: 48px;
	font-weight: 500;
	background-color: rgba(255,255,255,.8);
	z-index: 3;
	transition: 1s;
	text-align: center;
	padding:38px;
	box-shadow: 0px 5px 5px -5px maroon;
}

div[class$="display"] img {
	opacity: .3;
	width: 100%;
	height: 100%;
}

.selectmaterial {
	width: 100%;
	height: 60px;
	font-size: 36px;
	text-align: center;
	white-space: nowrap;
}

.servicescapabilities {
	display: grid;
	grid-template-columns: 19% 50% 19%;
	grid-template-rows: 100%;
	grid-gap: 20px;
	height: 600px;
	margin: 190px auto 0 auto;
	justify-content: center;
}

.servicescapabilities1left {
	grid-column: 1;
	text-align: left;
	position: sticky;
	align-self: center;
}

.servicescapabilities1right {
	grid-column: 3;
	text-align: right;
	position: sticky;
	align-self: center;

}

.servicescapabilitiesheaderleft {
	display: grid;
	text-align: left;
	font-size: 24px;
	margin: 10px 0;
	text-decoration: underline crimson;
}

.servicescapabilitiesheaderright {
	text-align: right;
	font-size: 24px;
	margin: 10px 0;
	text-decoration: underline crimson;
}

.servicescapabilitiesbodyleft {
	display: grid;
	white-space: nowrap;
	width:100%;
	grid-template-rows: repeat(7,1fr);
	grid-template-columns: 90% 10%;
}

.servicescapabilitiesbodyright {
	display: grid;
	white-space: nowrap;
	width:100%;
	grid-template-rows: repeat(11,1fr);
	grid-template-columns: 10% 90%;
}

.servicescapabilitiesbodyleft li,.servicescapabilitiesbodyright li {
	display: none;
	list-style: none;
	width:350px;
	white-space: nowrap;
	overflow: hidden;
	font-size: 16px;
	padding: 10px 5px;
	background-color: white;
	z-index: 2;
 }

 .servicescapabilitiesbodyleft li:hover {
	border-left:4px solid crimson;
	background-color: transparent;
	cursor: default;
	transition: background .5s;
 }

.servicescapabilitiesbodyright li:hover {
	border-right:4px solid crimson;
	background-color: transparent;
	cursor: default;
	transition: background .5s;
 }

.serviceslist:nth-child(1) {
	animation-delay: .1s 
}

.serviceslist:nth-child(2) {
	animation-delay: .2s 
}

.serviceslist:nth-child(3) {
	animation-delay: .3s 
}

.serviceslist:nth-child(4) {
	animation-delay: .4s 
}

.serviceslist:nth-child(5) {
	animation-delay: .5s 
}

.serviceslist:nth-child(6) {
	animation-delay: .6s 
}

.serviceslist:nth-child(7) {
	animation-delay: .7s 
}

.serviceslist:nth-child() {
	animation-delay: .8s 
}

.servicesexpand,.capabilitiesexpand {
	display: none;
	position: fixed;
	width: 30%;
	height: auto;
	z-index: 50;
	background-color: white;
}

.servicesexpand {
	justify-content: start;
	left:25%;
}

.capabilitiesexpand {
	justify-self: end;
	right:25%;
}

.expanditem {
	display: none;
	grid-row: 30% 70%;
	box-shadow: 0px 2px 10px 0px slategray;
	height: 500px;
	z-index: 15;
	border-radius: 7px;
	overflow: hidden;
}

.expanditem img {
	grid-row: 1;
	width: 100%;
	height: 200px;
}

.expanditem h2 {
	grid-row: 2;
	text-align: center;
}

.expanditem p {
	margin:0px 10px;
}

.arrowsleft {
	display: none;
	grid-column: 2;
	align-self: center;
	color: crimson;
}

.arrowsright {
	display: none;
	grid-column: 1;
	align-self: center;
	color: crimson;
	width: 30px;
}

.left {
	grid-column: 1;
	justify-items: center;
}

.right {
	grid-column: 2;
	justify-items: center;
	justify-self: end;
}

#temp {
	grid-row: 1;
	grid-column:2;
	z-index: 5;
}




