#headermain {
	height: 70px !important;
}

.capabilities, .design, .materials, .programmanagement {
	wdith: 100%;
	height: 500px;
}

.sectionbanner {
	width: 100vw;
	height: 150px;
	align-content: center;
	left: 0;
	right: 0;
	background: var(--acc-color2);
	border-top: 1px solid transparent;
	border-bottom: 1px solid var(--acc-color);
}

.sectionbanner h2 {
	display: flex;
	width: 100%;
	margin:0;
	justify-content: center;
	padding-top: 45px;
	font-size: 3.5em;
	letter-spacing: .1em;
	z-index: 2;
	color: var(--color-0);
	text-shadow: 1px 1px 1px var(--color-5);
}

.solutionsh1links {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	width:100%;
	height: 250px;
	margin: 10px 0 50px;
}

.solutionsh1links img {
	position: absolute;
	filter: brightness(.2);
	width:100%;
	height:200px;
}

.solutionsh1links img:hover {
	filter: brightness(.8);
}


.solutionsh1links a {
	position: absolute;
	font-size: 3em;
	color: var(--alt-txt-color);
	pointer-events: none;
	transform: translateY(70px);
}

#slanteddiv1, #slanteddiv2, #slanteddiv3 {
	display: inline-block;
	position: relative;
}

#slanteddiv1 {
	grid-column: 1;
	grid-row: 1;
	padding-left: 4vw;
}

#slanteddiv2 {
	text-align: center;
	color: var(--acc-color);
	grid-column: 1 / span 2;
	grid-row: 1;
	z-index: 1;
	pointer-events: none;
	overflow: hidden;
}

#slanteddiv3 {
	text-align: center;
	grid-column: 2;
	grid-row: 1;
}

#slanteddiv1:before {
	content: '';
	position: absolute;
	background: url(photos/banner4.jpg);
	background-size: cover;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	filter: brightness(.2);
	pointer-events: none;

}

#slanteddiv3:before {
	content: '';
	position: absolute;
	background: url(photos/banner3-1.jpg);
	background-size: cover;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	filter: brightness(.4);

}

#slanteddiv2:before {
	content: '';
	position: absolute;
	background: url(photos/banner2-1.jpg);	
	background-size: cover;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 35%;
	height: 100%;
	transform: skew(-45deg);
	filter: brightness(.4);
	pointer-events: initial;
	border-right: 25px solid var(--acc-color);
	border-left: 25px solid var(--acc-color);
}


#slanteddiv1 a {
}

#slanteddiv2 a {
	margin-left: -10%;
	transform: translateY(100px);

}

#slanteddiv3 a {
}

.h2body {
	width: 100vw;
	max-width: 100%;
	min-height: 150px;
	padding: 70px 10vw 40px;
	font-weight: 400;
	font-size: 1.3em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.materialscontainer {
	display: grid;
	grid-template-rows: repeat(3,auto);
	grid-template-columns: 100%;
	grid-column: 2;
	grid-gap: 20px;
	width: 100%;
	height: 100%;
	align-content: center;
}

.materials {
	height: 400px;
	margin: 0;
	display: flex;
	flex-wrap: nowrap;
	padding: 0;
}

#materialheader {
	grid-column: 1;
	grid-row: 1;
	text-align: center;
	font-size: 2em;
	font-style: oblique;
	margin: 0;
}

.materialcards {
	display: grid;
	grid-template-rows: repeat(2,1fr);
	grid-template-columns: repeat(3, 1fr);
	grid-column: 1;
	grid-row: 2;
	width: 100%;
	justify-items: center;
	align-items:center;
	align-self: center;
	margin:0;
}

.materialcards svg {
	max-height: 120px;
}

.materialheaders {
	grid-row: 1;
	text-align: center;
	font-size: 1.5em;
	color: var(--acc-color2);
}

.materialcard {
	display: grid;
	grid-template-rows: 30% 70%;
	grid-gap: 10px;
	width: 8vw;
	padding: 15px;
	grid-row: 1;
	align-items: center;
}

#material1{
	grid-row: 1;
	grid-column: 1;
}

#material2 {
	grid-row: 1;
	grid-column: 2;
}

#material3 {
	grid-row: 1;
	grid-column: 3;
}

#material4 {
	grid-row: 2;
	grid-column: 1 / span 2;
}

#material5 {
	grid-row: 2;
	grid-column: 2 / span 2;
}

.capabilities {
	height: auto;
	background: var(--bg-color);
}

.capabilities:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: var(--bg-color);
	z-index: -1;
}

.capabilitiescontainer {
	display: grid;
	grid-template-columns: 35% 65%;
	grid-template-rows: 100%;
	margin-bottom: 70px;
}

.capabilitieslist {
	display: flex;
	flex-direction: column;
	list-style: none;
	justify-content: space-around;
	grid-column: 1;
	grid-row: 1;
	z-index: 2;
}

.capabilitieslist li {
	font-size: 1.2em;
	letter-spacing: .08em;
	margin: 0 4.4%;
	padding: 10px 15px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 3px solid transparent;
	white-space: nowrap;
}

.capabilities li:hover {
	background: var(--bg-color);
	border-top: 1px solid var(--acc-color2);
	border-bottom: 1px solid var(--acc-color2);
	border-left: 3px solid var(--acc-color);
	transform: scale(1.1);
	color: var(--acc-color);
}

.capabilitieslist pre {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: .6em;
	color: var(--acc-color);
}

.capabilities li:hover pre {
	display: none;
}

.capabilitiesheader {
	font-size: 2em;
	grid-row: 1;
	font-style: oblique;
}

.design {
	height: auto;
}

.design:before {
	content: '';
	position: absolute;
	left: 50px;
	right: 0;
	margin: 0 auto;
	width: 100%;
	height: 50%;
	background: var(--acc-color2-alt);
	transform: skew(45deg);
	z-index: -2;
}

.designcontainer {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 50px;
	margin: 0px auto 50px;
	width: 95%;
	max-width: 1500px;
	height: auto;
}

.designblock {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 100%;
	align-items: center;
}

.designblockcontent {
	margin: 50px;
	padding: 30px;
	font-size: 1.1em;
	color: var(--alt-txt-color);
}

.designblock img {
	width: 100%;
	height: auto;
}

.programmanagement {
	height: 700px;
}

.programmanagementcontainer {
	display: grid;
	grid-template-rows: 85% 15%;
	grid-template-columns: 100%;
	align-items: center;
	grid-gap: 40px;
	width:100%;
}

.pmcards {
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-row: 1;
	max-width: 100%;
	height: 350px;
	grid-gap: 15px;
	align-items:center;
	margin:0 5vw;
}

.pmcards svg {
	max-height: 120px;
}

.pmcards p {
	font-size: 1.4em;
	letter-spacing: .15em;
}

.card {
	display: grid;
	grid-template-rows: 25% 75%;
	grid-gap: 20px;
	height: 100%;
	padding: 15px;
	grid-row: 1;
	align-items: center;
	border: 1px solid var(--acc-color);
}

.card:hover {
	box-shadow: 0 0 2px 0 var(--color-3);
	transform: scale(1.05);
}

.pmheaders {
	grid-row: 1;
	text-align: center;
	font-size: 1.5em;
	color: var(--main-txt-color);
}

.pmbody {
	grid-row: 2;
	text-align: center;
	color: var(--alt-txt-color);
}

#laserdisplay,
#roboticweldingdisplay,
#tubebendingdisplay,
#pressbrakedisplay,
#spotweldingdisplay,
#migweldingdisplay,
#caddisplay,
#engravingdisplay,
#powerdercoatingdisplay,
#boxingdisplay,
#dropshipmentsdisplay {
	display: none;
	grid-template-rows: 20% 80%;
	justify-content: space-around;
	align-items: center;
	width: 92%;
	height: 98%;
	box-shadow: 0 0 5px 0 var(--acc-color2);
	grid-column: 2;
}

.divsquare {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: rotate(45deg) translateY(-18px);
	background: var(--acc-color2);
	border-right: 1px solid var(--acc-color);
	border-bottom: 1px solid var(--acc-color);
}
